-# Haml version of the Yii 2 Column Layout
-#
  Please refer to readme for more information
- $this->beginContent('//layouts/main');
  .span-5.last
    #sidebar
      :php
        /*
        $this->beginWidget('zii.widgets.CPortlet', array(
          'title'=>'Operations',
        ));
        $this->widget('zii.widgets.CMenu', array(
          'items'=>$this->menu,
          'htmlOptions'=>array('class'=>'operations'),
        ));
        $this->endWidget();
        */
      .box-search
        = CHtml::image( Yii::app()->theme->baseUrl. '/images/text-search.png' )
        :php
          if( Yii::app()->controller->id == 'job' && Yii::app()->controller->action->id == 'index' )
          {
          Yii::app()->clientScript->registerScriptFile(Yii::app()->request->baseUrl . '/js/helper.js');
          $something = <<<SOME
          <form class="search-form" title="Click to filter through jobs">
            <input type="checkbox" id="ft" onClick="updateJobs(this);"> <label for="ft"><span class="search-form">Full Time</span></label><br />
            <input type="checkbox" id="pt" onClick="updateJobs(this);"> <label for="pt">Part Time</label><br />
            <input type="checkbox" id="ih" onClick="updateJobs(this);"> <label for="ih">In-House</label><br />
            <input type="checkbox" id="rm" onClick="updateJobs(this);"> <label for="rm">Remote</label><br />
            <input type="checkbox" id="fl" onClick="updateJobs(this);"> <label for="fl">Freelance</label><br />
            <input type="checkbox" id="co" onClick="updateJobs(this);"> <label for="co">Contract</label><br />
          </form>
          SOME;
            echo $something;
          }
          else
          {
            echo '<p>' . CHtml::link( 'Click here', $this->createUrl( 'job/index' ) ) . ' to search for a job that will change your life forever.</p>';
          }
        %p
      .box-jobpost
        = CHtml::image( Yii::app()->theme->baseUrl. '/images/text-jobpost.png' )
        %p
          If you are specifically looking for a <b>Yii</b> (PHP) framework developer, this is probably the best place to start.
          .postbutton
            = CHtml::link( 'Post a job', $this->createUrl( 'job/create' ), array( 'class' => 'postbutton' ))
      .box-contact
        = CHtml::image( Yii::app()->theme->baseUrl. '/images/text-contact.png' )
      .box-tweets
        = CHtml::image( Yii::app()->theme->baseUrl. '/images/text-tweets.png' )
    / sidebar
  .span-18
    #content
      = $content
- $this->endContent();
