-# Haml version of the Yii 2 Column Layout
-#
  Please refer to readme for more information
- $this->beginContent('//layouts/main');
  .span-5.last
    #sidebar
      :php
        /*
        $this->beginWidget('zii.widgets.CPortlet', array(
          'title'=>'Operations',
        ));
        $this->widget('zii.widgets.CMenu', array(
          'items'=>$this->menu,
          'htmlOptions'=>array('class'=>'operations'),
        ));
        $this->endWidget();
        */
        echo '<a name="searchanchor"></a>';
      :php
        if( ! Yii::app()->user->isGuest ):
      %h3
        Admin Menu
      %ul
        %li
          = CHtml::link( 'Admin Jobs', $this->createUrl( 'job/admin' ) )
        %li
          = CHtml::link( 'Create Job', $this->createUrl( 'job/create' ) )
        %li
          = CHtml::link( 'Logout', $this->createUrl( 'site/logout' ) )
      :php
        endif;
      .box-search
        = CHtml::image( Yii::app()->theme->baseUrl. '/images/text-search.png' )
        :php
          if( Yii::app()->controller->id == 'job' && Yii::app()->controller->action->id == 'index' )
          {
          // Yii::app()->clientScript->registerScriptFile(Yii::app()->request->baseUrl . '/js/helper.js');
          if( isset( $_SESSION['filter'] ) )
          {
            Yii::app()->clientScript->registerScript('scrollscript', 'location.href="#searchanchor"' );
          }
          $fulltime_checked = $parttime_checked = $inhouse_checked = $remote_checked = $contract_checked = $freelance_checked = '/images/checkbox-unchecked.jpg'; 
          // first off, let's check if there is anything in the SESSIONS array
          // TODO refactor this, AJAX and stuff NOOOOW
          $fulltime_link = $this->createUrl( 'job/index', array( 'addfilter' => Job::FULLTIME ) );
          $parttime_link = $this->createUrl( 'job/index', array( 'addfilter' => Job::PARTTIME ) );
          $inhouse_link = $this->createUrl( 'job/index', array( 'addfilter' => Job::INHOUSE ) );
          $remote_link = $this->createUrl( 'job/index', array( 'addfilter' => Job::REMOTE ) );
          $contract_link = $this->createUrl( 'job/index', array( 'addfilter' => Job::CONTRACT ) );
          $freelance_link = $this->createUrl( 'job/index', array( 'addfilter' => Job::FREELANCE ) );

          if( isset( $_SESSION['filter'] ) )
          {
            if( in_array( Job::FULLTIME, $_SESSION['filter'] ) )
            { 
              $fulltime_checked = '/images/checkbox-checked.jpg'; 
              $fulltime_link = $this->createUrl( 'job/index', array( 'removefilter' => Job::FULLTIME ) ); 
            }
            if( in_array( Job::PARTTIME, $_SESSION['filter'] ) )
            { 
              $parttime_checked = '/images/checkbox-checked.jpg'; 
              $parttime_link = $this->createUrl( 'job/index', array( 'removefilter' => Job::PARTTIME ) ); 
            }
            if( in_array( Job::INHOUSE, $_SESSION['filter'] ) )
            {
              $inhouse_checked = '/images/checkbox-checked.jpg'; 
              $inhouse_link = $this->createUrl( 'job/index', array( 'removefilter' => Job::INHOUSE ) ); 
            }
            if( in_array( Job::REMOTE, $_SESSION['filter'] ) )
            { 
              $remote_checked = '/images/checkbox-checked.jpg'; 
              $remote_link = $this->createUrl( 'job/index', array( 'removefilter' => Job::REMOTE ) ); 
            }
            if( in_array( Job::CONTRACT, $_SESSION['filter'] ) )
            { 
              $contract_checked = '/images/checkbox-checked.jpg'; 
              $contract_link = $this->createUrl( 'job/index', array( 'removefilter' => Job::CONTRACT ) ); 
            }
            if( in_array( Job::FREELANCE, $_SESSION['filter'] ) )
            { 
              $freelance_checked = '/images/checkbox-checked.jpg'; 
              $freelance_link = $this->createUrl( 'job/index', array( 'removefilter' => Job::FREELANCE ) ); 
            }
          }

          $something = '<div>' . CHtml::link( CHtml::image( Yii::app()->theme->baseUrl . $fulltime_checked ) . ' Full Time', $fulltime_link ) .  '</div>';
          $something .= '<div>' . CHtml::link( CHtml::image( Yii::app()->theme->baseUrl . $parttime_checked ) . ' Part Time', $parttime_link ) .  '</div>';
          $something .= '<div>' . CHtml::link( CHtml::image( Yii::app()->theme->baseUrl . $inhouse_checked ) . ' In-House', $inhouse_link ) .  '</div>';
          $something .= '<div>' . CHtml::link( CHtml::image( Yii::app()->theme->baseUrl . $remote_checked ) . ' Remote', $remote_link ) .  '</div>';
          $something .= '<div>' . CHtml::link( CHtml::image( Yii::app()->theme->baseUrl . $contract_checked ) . ' Contract', $contract_link ) .  '</div>';
          $something .= '<div>' . CHtml::link( CHtml::image( Yii::app()->theme->baseUrl . $freelance_checked ) . ' Freelance', $freelance_link ) .  '</div>';
          echo $something;
          }
          else
          {
            echo '<p>' . CHtml::link( 'Click here', $this->createUrl( 'job/index' ) ) . ' to search for a job that will change your life forever.</p>';
          }
        %p
      .box-jobpost
        = CHtml::image( Yii::app()->theme->baseUrl. '/images/text-jobpost.png' )
        %p
          If you are specifically looking for a <b>Yii</b> (PHP) framework developer, this is probably the best place to start.
          .postbutton
            = CHtml::link( 'Post a job', $this->createUrl( 'job/create' ), array( 'class' => 'postbutton' ))
      .box-contact
        = CHtml::image( Yii::app()->theme->baseUrl. '/images/text-contact.png' )
      .box-tweets
        = CHtml::image( Yii::app()->theme->baseUrl. '/images/text-tweets.png' )
    / sidebar
  .span-18
    #content
      = $content
- $this->endContent();
